#
# This source file is part of the Stanford Spezi open-source project
#
# SPDX-FileCopyrightText: 2022 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  buildandtest_ios:
    name: Build and Test Swift Package iOS
    uses: StanfordSpezi/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
    with:
      runsonlabels: '["macOS", "self-hosted"]'
      scheme: SpeziFoundation
      artifactname: SpeziFoundation-iOS.xcresult
      resultBundle: SpeziFoundation-iOS.xcresult
  buildandtest_watchos:
    name: Build and Test Swift Package watchOS
    uses: StanfordSpezi/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
    with:
      runsonlabels: '["macOS", "self-hosted"]'
      scheme: SpeziFoundation
      destination: 'platform=watchOS Simulator,name=Apple Watch Series 10 (46mm)'
      resultBundle: SpeziFoundation-watchOS.xcresult
      artifactname: SpeziFoundation-watchOS.xcresult
  buildandtest_visionos:
    name: Build and Test Swift Package visionOS
    uses: StanfordSpezi/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
    with:
      runsonlabels: '["macOS", "self-hosted"]'
      xcodeversion: latest
      scheme: SpeziFoundation
      destination: 'platform=visionOS Simulator,name=Apple Vision Pro'
      resultBundle: SpeziFoundation-visionOS.xcresult
      artifactname: SpeziFoundation-visionOS.xcresult
  buildandtest_tvos:
    name: Build and Test Swift Package tvOS
    uses: StanfordSpezi/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
    with:
      runsonlabels: '["macOS", "self-hosted"]'
      xcodeversion: latest
      scheme: SpeziFoundation
      destination: 'platform=tvOS Simulator,name=Apple TV 4K (3rd generation)'
      resultBundle: SpeziFoundation-tvOS.xcresult
      artifactname: SpeziFoundation-tvOS.xcresult
  buildandtest_macos:
    name: Build and Test Swift Package macOS
    uses: StanfordSpezi/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
    with:
      runsonlabels: '["macOS", "self-hosted"]'
      xcodeversion: latest
      scheme: SpeziFoundation
      destination: 'platform=macOS,arch=arm64'
      resultBundle: SpeziFoundation-macOS.xcresult
      artifactname: SpeziFoundation-macOS.xcresult
  buildandtest_linux:
    name: Build and Test Swift Package Linux
    uses: ./.github/workflows/swift-build-and-test.yml
  uitests_ios:
    name: Build and Test UI Tests iOS
    uses: StanfordSpezi/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
    with:
      runsonlabels: '["macOS", "self-hosted"]'
      path: 'Tests/UITests'
      scheme: TestApp
      destination: 'platform=iOS Simulator,name=iPhone 16 Pro Max'
      artifactname: TestApp-iOS.xcresult
      resultBundle: TestApp-iOS.xcresult
  # uitests_macos:
  #   name: Build and Test UI Tests macOS
  #   uses: StanfordSpezi/.github/.github/workflows/xcodebuild-or-fastlane.yml@v2
  #   with:
  #     runsonlabels: '["macOS", "self-hosted"]'
  #     path: 'Tests/UITests'
  #     scheme: TestApp
  #     destination: 'platform=macOS,arch=arm64'
  #     artifactname: TestApp-macOS.xcresult
  #     resultBundle: TestApp-macOS.xcresult
  uploadcoveragereport:
    name: Upload Coverage Report
    needs: [buildandtest_ios, buildandtest_watchos, buildandtest_visionos, buildandtest_tvos, buildandtest_macos, uitests_ios]
    uses: StanfordBDHG/.github/.github/workflows/create-and-upload-coverage-report.yml@v2
    with:
      coveragereports: SpeziFoundation-iOS.xcresult SpeziFoundation-watchOS.xcresult SpeziFoundation-visionOS.xcresult SpeziFoundation-tvOS.xcresult SpeziFoundation-macOS.xcresult TestApp-iOS.xcresult
    secrets:
      token: ${{ secrets.CODECOV_TOKEN }}
